.detail {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    max-width: 1000px;
    min-height: 250px;
    margin: 10px auto 0 auto;
    box-shadow: 0px 0px 32px -8px #676767;
    background: rgba(000, 0, 0, 0.8);
    color: white;
}
.detail img {

}

.back {
    position: absolute;
    display: block;
    bottom: 40px;
    text-align: center;
    left: 20px;
    height: 25px;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    margin: 0 20px 0 0;
    line-height: 25px;
    width: 60px;
    color: white;
    text-decoration: none;
}

.back:hover {
    cursor: pointer;
    background-color: dodgerblue;
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 700px) {
    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .detail img {
        margin-top: 10px;
        max-width: 100%
    }

    .back {
        position: relative;
        bottom: 0px;
        left: 0px;
        margin-top: 10px;
    }
}