.searchContainerWrapper {
    background: rgba(000, 0, 0, 0.8);
}
.alignWrapp {
    display: flex;
    justify-content: space-between;
}
.searchWrap {
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
    justify-content: space-between;

}

.searchContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.searchNavi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchInput {
    margin-right: 10px;
    display: flex
}

.inputStyle {
    height: 27px;
    line-height: 25px;
    width: 200px;
    padding: 0 15px;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px -4px #000000 inset;
}

.buttonWrap {
    height: 25px;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    margin: 0 20px 0 0;
    line-height: 25px;
    color: white;
}

.buttonWrap:hover {
    cursor: pointer;
    background-color: dodgerblue;
}

.reset {
    border: 1px solid white;
    background-color: black;
    border-radius: 3px;
    color: white;
    height: 25px;
    margin-top: 1px;
    display: block;
    float: right;
}

.select {
    margin-top: -1px;
    border: 1px solid white;
    border-radius: 3px;
    height: 25px;
    width: 105px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.searchWrap {
    display: flex;
}

.tagline {
    display: block;
    padding-right: 20px;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    line-height: 20px;
}

.taglineBack {
    color: white;
    display: block;
    font-size: 12px;
    line-height: 12px;
    padding-left: 70px;
}

.logoInfo {
    margin-right: 10px;
}

.logoInfo a {
    text-decoration: none;
}

@media screen and (max-width: 670px){
    .logoInfo {
        display: none;
    }

}
@media screen and (max-width: 500px){
    .searchWrap {
        display: block;
        margin-left: 20px;
    }

    .inputStyle {
        margin-bottom: 20px;
    }

    .buttonWrap {
        margin-bottom: 5px;
    }

}
@media screen and (max-width: 320px){
    .alignWrapp {
        display: flex;
        flex-direction: column;
    }

}



