.filmsContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
}
.filmPoster img {
    width: 150px;
}
.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold ;
    color: black;
    margin: 0 0 20px 0;
}
.yearTitle {
    color: orangered;
    font-size: 13px;
    font-weight: bold;
}