.filmsContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.filmPoster img{
    width: 100px;
}
.filmsContainer {
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
}