
.error {
    position: relative;
}

.error input {
    border: 2px solid red;
    box-shadow: 0px 0px 25px -5px #f51f0e;
}

.error span {
    color: red;
    top: 23px;
    left: 20px;
    position: absolute;
}