.App {
  text-align: center;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
.container {
  width: 1000px;
  border: 1px solid;
  margin: 0 auto;
  display: flex;
}
.content {
  width: 70%;

}